
@model List<ArticleModel>

<h2>Search Results</h2>
<hr />

<ul>
    @foreach (var article in Model.Take(10))
    {
        <li>
            <a href="@article.Url" style="font-weight: bold; font-size: larger;">@article.Title</a>
            <br />
            <hr />
        </li>
    }
</ul>

<section>
    <h1>More Related News</h1>
</section>
<section id="news5">
    <article class="SArticle">
        <div>TRENDING</div>
        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(0).Take(1))
        {
            <img src="@article.UrlToImage" class="smallImg">
            <a href=@article.Url style="font-size: 1.2rem;"><b>@article.Title</b></a>
        }

        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(1).Take(5))
        {
            <li><a href=@article.Url target="_blank">@article.Title</a></li>

        }
    </article>
    <article class="SArticle">
        <div>MNN</div>
        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(5).Take(1))
        {
            <img src="@article.UrlToImage" class="smallImg">
            <a href=@article.Url style="font-size: 1.2rem;"><b>@article.Title</b></a>
        }

        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(6).Take(5))
        {
            <li><a href=@article.Url target="_blank">@article.Title</a></li>

        }
    </article>
    <article class="SArticle">
        <div>MORE ENGAGEMENTS</div>
        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(6).Take(1))
        {
            <img src="@article.UrlToImage" class="smallImg">
            <a href=@article.Url style="font-size: 1.2rem;"><b>@article.Title</b></a>
        }

        @foreach (var article in Model.Where(article => article.UrlToImage != null).Skip(7).Take(5))
        {
            <li><a href=@article.Url target="_blank">@article.Title</a></li>

        }
    </article>
</section>